In [14]:
import pandas as pd 

# feather_lst = ['cancer', 'master_usage', 'prod_data', 'use_over_time']
# for file in feather_lst:
#     df=pd.read_feather("data/" + file + ".ftr")
#     df['SubjectId'] = df['SubjectId'].astype('int') + 489
#     df['SubjectId'] = df['SubjectId'].astype('str')
#     try:
#         df.drop(columns=['index'], inplace=True)
#     except:
#         pass
#     df.to_feather("data/" + file + ".ftr")

In [15]:
df=pd.read_feather("data/master_usage.ftr")
df.head()

,index,SubjectId,Firm,deceased,age,total_use_years,age_first_use,formulation,use_years,start_yr,end_yr,use_years_lst,dosage,admin_method,state_cur_ab,state_use_ab,retailers
0,0,35191,Sawyer and Sons,Living,73,26,47,Levothyroxine,"[1994, 2020]",1994,2020,"[1994, 1995, 1996, 1997, 1998, 1999, 2000, 200...",Other,neighbor,PA,PA,theMechanic
1,1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,theMechanic
2,1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,Fallint
3,1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,MegaSuperStore
4,1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,MegaSuperStore

In [4]:
df.retailers = df.retailers.str.split()
df = df.explode('retailers')
df.shape

(1077449, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1077449 entries, 0 to 191143
Data columns (total 16 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   SubjectId        1077449 non-null  object
 1   Firm             1077449 non-null  category
 2   deceased         1077449 non-null  category
 3   age              1077449 non-null  int8
 4   total_use_years  1077449 non-null  int8
 5   age_first_use    1077449 non-null  int8
 6   formulation      1077449 non-null  category
 7   use_years        1077449 non-null  object
 8   start_yr         1077449 non-null  int16
 9   end_yr           1077449 non-null  int16
 10  use_years_lst    1077449 non-null  object
 11  dosage           1077449 non-null  object
 12  admin_method     1077449 non-null  category
 13  state_cur_ab     1077449 non-null  category
 14  state_use_ab     1077449 non-null  category
 15  retailers        1074531 non-null  category
dtypes: category(7), int16(2), int8(3), object(4)
memory usage: 90.4+ MB

In [6]:
df.retailers = df.retailers.astype('category')

In [8]:
df.retailers.value_counts()

Other        171810
Walmart      151045
Walgreens    118676
CVS          103170
Rite_Aid      36969
              ...
Optic             1
Cvs,rite          1
Wewoka            1
Weymans           1
Hagen's           1
Name: retailers, Length: 13660, dtype: int64

In [11]:
retailer_lst = ['Albertsons', 'Amazon','Costco','CVS','H_E_Butt','Cigna_Express_Scripts','Duane_Reed', 'Giant_Eagle', 'H_E_Butt', 'Humana_Pharmacy_Solutions','Hy-Vee', 'Kroger', 'Medicine_Shoppe', 'Publix','Rite_Aid', 'Shoprite_Supermarkets','Smith\'s_Food_and_Drug', 'Target', 'Walgreens','Walmart', 'Winn_Dixie']

new_retailers = ['AppleBees', 'theRestaurant','theCoffeeShop','theMechanic','HealthyVegan','SignalProcessing','Clover', 'MarigoldsInc', 'WorldProducts', 'Meryls','GreatBurger', 'Canelos', 'Jones_park', 'SuperStore','HealthyPharmacy', 'Mineal','theMainFoodandDrug', 'Tomotion', 'Fallint','MegaSuperStore', 'Hillmans']

new_ret_dict = dict(zip(retailer_lst, new_retailers))



df.retailers = df.retailers.map(new_ret_dict)

In [12]:
df.head()

,SubjectId,Firm,deceased,age,total_use_years,age_first_use,formulation,use_years,start_yr,end_yr,use_years_lst,dosage,admin_method,state_cur_ab,state_use_ab,retailers
0,35191,Sawyer and Sons,Living,73,26,47,Levothyroxine,"[1994, 2020]",1994,2020,"[1994, 1995, 1996, 1997, 1998, 1999, 2000, 200...",Other,neighbor,PA,PA,theMechanic
1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,theMechanic
1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,Fallint
1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,MegaSuperStore
1,14763,Sawyer and Sons,Living,52,17,29,Levothyroxine,"[1998, 2015]",1998,2015,"[1998, 1999, 2000, 2001, 2002, 2003, 2004, 200...",150_mg,friend,NV,NV,MegaSuperStore

In [13]:
df.reset_index().to_feather("data/master_usage.ftr")

In [31]:
df=pd.read_feather("data/prod_data.ftr")
df.head()

,SubjectId,Firm,deceased,age,total_use_years,age_first_use,Product_Type,Year,tot_use_years
0,392860,Bender LLC,Living,66,28,34,Flu Shot,1998,28
1,392860,Bender LLC,Living,66,28,34,Flu Shot,1999,28
2,392860,Bender LLC,Living,66,28,34,Flu Shot,2000,28
3,392860,Bender LLC,Living,66,28,34,Flu Shot,2001,28
4,392860,Bender LLC,Living,66,28,34,Flu Shot,2002,28

In [32]:
test = df[df['SubjectId'] == 620907]
test

Empty DataFrame
Columns: [SubjectId, Firm, deceased, age, total_use_years, age_first_use, Product_Type, Year, tot_use_years]
Index: []

In [4]:
cat_lst = ['Firm', 'Cancer_Type', 'retailer']
for i in cat_lst:
    df[i] = df[i].astype('category')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510263 entries, 0 to 124255
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   SubjectId                510263 non-null  int64
 1   Firm                     510263 non-null  category
 2   Cancer_Type              510263 non-null  category
 3   retailer                 206288 non-null  category
 4   diagnosis_date           510173 non-null  datetime64[ns]
 5   birth_year               510263 non-null  int64
 6   first_use_year           510263 non-null  int64
 7   last_use_year            510263 non-null  int16
 8   deceased                 510026 non-null  category
 9   age                      510263 non-null  int16
 10  total_use_years          510263 non-null  int16
 11  age_first_use            510263 non-null  int16
 12  first_use_to_diag_years  510247 non-null  float64
 13  last_use_to_diag_years   510247 non-null  float64
dtypes: category(4), datetime64[ns](1), float64(2), int16(4), int64(3)
memory usage: 41.7 MB

In [22]:
df.memory_usage()

Index                      12536288
SubjectId                   4082104
Firm                        1030902
Cancer_Type                  511003
retailer                     510971
diagnosis_date              4082104
birth_year                  1020526
first_use_year              1020526
last_use_year               1020526
deceased                     510387
age                          510263
total_use_years              510263
age_first_use                510263
first_use_to_diag_years     4082104
last_use_to_diag_years      4082104
dtype: int64

In [12]:
df['first_use_to_diag_years'].value_counts()

 3.0       24866
 4.0       23748
 2.0       23264
 5.0       22226
 10.0      20965
           ...
 1997.0        1
 1993.0        1
 58.0          1
 1999.0        1
-184.0         1
Name: first_use_to_diag_years, Length: 150, dtype: int64

In [30]:
df.first_use_to_diag_years.fillna(0, inplace=True)
df.last_use_to_diag_years.fillna(0, inplace=True)

In [31]:
int8_lst = ['first_use_to_diag_years', 'last_use_to_diag_years']
for i in int8_lst:
    df[i] = df[i].astype('int8')
    # df[i].fillna(0)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510263 entries, 0 to 124255
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   SubjectId                510263 non-null  object
 1   Firm                     510263 non-null  category
 2   Cancer_Type              510263 non-null  category
 3   retailer                 206288 non-null  category
 4   diagnosis_date           510173 non-null  datetime64[ns]
 5   birth_year               510263 non-null  int16
 6   first_use_year           510263 non-null  int16
 7   last_use_year            510263 non-null  int16
 8   deceased                 510026 non-null  category
 9   age                      510263 non-null  int8
 10  total_use_years          510263 non-null  int8
 11  age_first_use            510263 non-null  int8
 12  first_use_to_diag_years  510263 non-null  int8
 13  last_use_to_diag_years   510263 non-null  int8
dtypes: category(4), datetime64[ns](1), int16(3), int8(5), object(1)
memory usage: 27.5+ MB

In [47]:
df.to_pickle("data/cancer.pkl")

In [48]:
import feather
df.reset_index().to_feather("data/cancer.ftr")

In [51]:
feather_test = pd.read_feather("data/cancer.ftr", columns=None).set_index(['SubjectId'])
feather_test.drop(columns=['index'], inplace=True)

# Reducing memory size of the master usage file

In [119]:
df = pd.read_pickle("data/master_usage.pkl")
# df.head()

In [121]:
df.deceased = df.deceased.astype('str')
df.deceased.fillna('none', inplace=True)
df.state_cur_ab = df.state_cur_ab.astype('str').fillna('none').astype('category')
df.state_use_ab = df.state_use_ab.astype('str').fillna('none').astype('category')

In [122]:
cat_lst = ['Firm', 'admin_method', 'state_cur_ab', 'state_use_ab', 'retailers', 'deceased']
for i in cat_lst:
    df[i] = df[i].astype('category')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191144 entries, 0 to 191206
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SubjectId        191144 non-null  int64
 1   Firm             191144 non-null  category
 2   deceased         191144 non-null  category
 3   age              191144 non-null  int8
 4   total_use_years  191144 non-null  int8
 5   age_first_use    191144 non-null  int8
 6   formulation      191144 non-null  category
 7   use_years        191144 non-null  object
 8   start_yr         191144 non-null  int16
 9   end_yr           191144 non-null  int16
 10  use_years_lst    191144 non-null  object
 11  dosage           191144 non-null  object
 12  admin_method     191144 non-null  category
 13  state_cur_ab     191144 non-null  category
 14  state_use_ab     191144 non-null  category
 15  retailers        191144 non-null  category
dtypes: category(7), int16(2), int64(1), int8(3), object(3)
memory usage: 15.9+ MB

In [124]:
cat_lst = ['Firm', 'formulation', 'retailers', 'state_cur_ab', 'state_use_ab', 'admin_method']
for i in cat_lst:
    df[i] = df[i].astype('category')

In [125]:
int8_lst = ['age', 'total_use_years', 'age_first_use']
for i in int8_lst:
    df[i] = df[i].astype('int8')
int16_lst = ['start_yr', 'end_yr']
for i in int16_lst:
    df[i] = df[i].astype('int16')

In [127]:
df = df[df['deceased'] != ""]

In [128]:
df.to_pickle("data/master_usage.pkl")

In [129]:
df.reset_index().to_feather("data/master_usage.ftr")

# reducing the prod_data pickle file

In [136]:
df = pd.read_pickle("data/prod_data.pkl")
df.Firm = df.Firm.astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2199349 entries, 0 to 2199348
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   SubjectId        int64
 1   Firm             category
 2   deceased         category
 3   age              int8
 4   total_use_years  int8
 5   age_first_use    int8
 6   Product_Type     category
 7   Year             int16
 8   tot_use_years    int16
dtypes: category(3), int16(2), int64(1), int8(3)
memory usage: 56.6 MB

In [137]:
df.reset_index().to_feather("data/prod_data.ftr")

In [138]:
# Reducing use over time pickle
df= pd.read_pickle("/Users/johntaylor/cloud_upload/data/use_over_time.pkl")
df.head()

  SubjectId deceased                formulation use_years  dosage admin_method
0    437338   Living  Zantac Tablets & Capsules      1994   Other          OTC
0    437338   Living  Zantac Tablets & Capsules      2020   Other          OTC
1    437339   Living  Zantac Tablets & Capsules      1998  150_mg         Both
1    437339   Living  Zantac Tablets & Capsules      2015  150_mg         Both
2    437339   Living  Zantac Tablets & Capsules      1998  150_mg         Both

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380677 entries, 0 to 190825
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SubjectId     380677 non-null  object
 1   deceased      380573 non-null  category
 2   formulation   380677 non-null  category
 3   use_years     380677 non-null  int16
 4   dosage        380677 non-null  object
 5   admin_method  380677 non-null  category
dtypes: category(3), int16(1), object(2)
memory usage: 18.6+ MB

In [140]:
df.use_years = df.use_years.astype('int16')

In [142]:
df.reset_index().to_feather("data/use_over_time.ftr")

In [145]:
df = pd.read_feather("data/use_over_time.ftr", columns=None).set_index(['SubjectId'])
df.drop(columns=['index'], inplace=True)
df.reset_index(inplace=True)
df.head()

,SubjectId,deceased,formulation,use_years,dosage,admin_method
0,437338,Living,Zantac Tablets & Capsules,1994,Other,OTC
1,437338,Living,Zantac Tablets & Capsules,2020,Other,OTC
2,437339,Living,Zantac Tablets & Capsules,1998,150_mg,Both
3,437339,Living,Zantac Tablets & Capsules,2015,150_mg,Both
4,437339,Living,Zantac Tablets & Capsules,1998,150_mg,Both

### Fixing the formulation names in the usage over time feather file

In [3]:
df = pd.read_feather("data/use_over_time.ftr", columns=None).set_index(['SubjectId'])
df.drop(columns=['index'], inplace=True)
df.head()

          deceased                formulation  use_years  dosage admin_method
SubjectId
437338      Living  Zantac Tablets & Capsules       1994   Other          OTC
437338      Living  Zantac Tablets & Capsules       2020   Other          OTC
437339      Living  Zantac Tablets & Capsules       1998  150_mg         Both
437339      Living  Zantac Tablets & Capsules       2015  150_mg         Both
437339      Living  Zantac Tablets & Capsules       1998  150_mg         Both

In [5]:
form_lst = list(set(df.formulation))
form_lst

['Zantac Syrup',
 'Other',
 'Zantac Tablets & Capsules',
 'Ranitidine Tablets & Capsules',
 'Ranitidine Suspension',
 'Ranitidine Syrup',
 'Zantac Injection',
 'Ranitidine Injection']

In [6]:
new_form_lst = ['Candy Bar', 'Flagyl','Flu Shot','Gummie Bears','Ibuprofen','Levothyroxine','Metronidazole','Tylenol']

form_dict = dict(zip(form_lst, new_form_lst))

In [7]:
df.formulation = df.formulation.map(form_dict)

In [10]:
admin_lst = list(set(df.admin_method))
new_admins = ['friend', 'neighbor', 'doctor']
admin_dict = dict(zip(admin_lst, new_admins))
df.admin_method = df.admin_method.map(admin_dict)

In [11]:
df.head()

          deceased formulation  use_years  dosage admin_method
SubjectId
437338      Living    Flu Shot       1994   Other       doctor
437338      Living    Flu Shot       2020   Other       doctor
437339      Living    Flu Shot       1998  150_mg       friend
437339      Living    Flu Shot       2015  150_mg       friend
437339      Living    Flu Shot       1998  150_mg       friend

In [12]:
df.reset_index().to_feather("data/use_over_time.ftr")

In [14]:
df = pd.read_feather("data/use_over_time.ftr", columns=None)
df.head()

  SubjectId deceased formulation  use_years  dosage admin_method
0    437338   Living    Flu Shot       1994   Other       doctor
1    437338   Living    Flu Shot       2020   Other       doctor
2    437339   Living    Flu Shot       1998  150_mg       friend
3    437339   Living    Flu Shot       2015  150_mg       friend
4    437339   Living    Flu Shot       1998  150_mg       friend